asttokens
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
pooch
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pyvista
pyzmq
requests
scooby
seaborn
six
stack-data
tornado
traitlets
typing_extensions
tzdata
urllib3
vtk
wcwidth
